{% extends 'station_header.html' %}

{% block content %}
<style>
    .alert {
      padding: 10px;
      margin: 20px auto;
      width: 80%;
      border: 1px solid transparent;
      border-radius: 4px;
      text-align: center;
    }
  
    .alert-success {
      background-color: #d4edda;
      border-color: #c3e6cb;
      color: #155724;
    }
  
    .alert-error, .alert-danger {
      background-color: #f8d7da;
      border-color: #f5c6cb;
      color: #721c24;
    }





    .alert {
padding: 10px;
margin: 20px auto;
width: 80%;
border: 1px solid transparent;
border-radius: 4px;
text-align: center;
}

.alert-success {
background-color: #d4edda;
border-color: #c3e6cb;
color: #155724;
}

.alert-error, .alert-danger {
background-color: #f8d7da;
border-color: #f5c6cb;
color: #721c24;
}

.btn-primary {
background-color: #060606;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn-primary:hover {
background-color: #faa004;
}
  </style>

<div class="container mt-4 text-center">
    <h1>Search Attendance</h1>
    <br><br>

    <form method="GET" action="{% url 'month_attendance' %}" class="search-box">
        <input type="text" name="name" class="form-control d-inline-block w-50" placeholder="Search by Staff Name" value="{{ query }}">
        <br><br>

        <input type="text" maxlength="2" name="date" class="form-control d-inline-block w-50" placeholder="Search by Month" value="{{ query2 }}">
                
        <button type="submit" class="btn btn-primary">Search</button>
        <br><br>
    </form>

    {% if results %}
        <div class="table-container">
            <table class="table table-bordered table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        
                        <th>Present Days</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in results %}
                        <tr>
                            
                            <td>{{ staff.present_days }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-danger">No Results Found</p>
    {% endif %}
</div>

{% endblock %}
