{% extends 'home_header.html' %}
{% block content %}
{% load static %}

<html>
    <head>
        <title>Station Registration</title>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="{% static 'user/css/style.css' %}">

    </head>
x   <body>
    <center>   
        <table class="form-class">
        <h2>Station Registration</h2>
        <br><br>

        <form method="POST">
            {% csrf_token %}
           
        <tr>
            <td><label>Station ID</label></td>
            <td>{{form.station_id}}</td>
        </tr>

        <tr>
        
            <td><label>Address Line 1</label></td>
            <td>{{form.addressline1}}</td>
        </tr>

        <tr>
            <td><label>Address Line 2</label></td>
            <td>{{form.addressline2}}</td>
        </tr>

        <tr>
        
            <td><label>District</label></td>
            <td>{{form.district}}</td>
        </tr>

        <tr>
        
            <td><label>City</label></td>
            <td>{{form.city}}</td>
        </tr>

        <tr>
        
            <td><label>Contact</label></td>
            <td>{{form.contact}}</td>
        </tr>

        <tr>
        
            <td><label>Email</label></td>
            <td>{{log.email}}</td>
        </tr>

        <tr>
        
            <td><label>Password</label></td>
            <td>{{log.password}}</td>
        </tr>
       
       
       
        
       
        <tr>
            
            <td colspan="2">    
                <div style="text-align: center;">
                    <br><br>
                <button type="submit" class="btn btn-primary" style="width: 100px; margin: 0 auto;"> Register</button>
            </div>

            </td>
        </tr>   
    </form>
</table>   
 </center>
 
    </body>
</html>
{% endblock %}